flows.json
[{"id":"f4101a8d2b5a405e","type":"tab","label":"Balance","disabled":false,"info":"","env":[]},{"id":"5e5946d6d4b5e713","type":"tab","label":"Assets","disabled":false,"info":"","env":[]},{"id":"d46410c2bd1ebfb8","type":"tab","label":"Trending","disabled":false,"info":"","env":[]},{"id":"83e538542e6d5150","type":"tab","label":"Watchlist","disabled":false,"info":"","env":[]},{"id":"57122bd9a5ed2e7f","type":"tab","label":"Market","disabled":false,"info":"","env":[]},{"id":"a663560a0c39e4a9","type":"tab","label":"Transactions","disabled":false,"info":"","env":[]},{"id":"f35212fc5dc5051c","type":"tab","label":"Live","disabled":false,"info":"","env":[]},{"id":"712c74ebda3412c5","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"gsb","tz":"","charset":"UTF8"},{"id":"dfc7874712e68194","type":"inject","z":"f4101a8d2b5a405e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["4c455aed9dd3c85b"]]},{"id":"87ec2c84d6f83baf","type":"debug","z":"f4101a8d2b5a405e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"d9b38b04367375d9","type":"comment","z":"f4101a8d2b5a405e","name":"Init infos balance","info":"","x":120,"y":60,"wires":[]},{"id":"4c455aed9dd3c85b","type":"function","z":"f4101a8d2b5a405e","name":"","func":"const assets = global.get(\"assets\");\n\nlet totalUsdValue = 0;\n\nassets.forEach(asset => {\n    totalUsdValue += asset.USDvalue;\n});\n\n\nmsg.payload = totalUsdValue;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["dcd94503915c9819"]]},{"id":"dcd94503915c9819","type":"change","z":"f4101a8d2b5a405e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'USDvalue': msg.payload,\t    'h': 2.45\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["87ec2c84d6f83baf"]]},{"id":"faa95e0439df98d8","type":"http in","z":"f4101a8d2b5a405e","name":"","url":"/balance","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["6f13d59864211843"]]},{"id":"db3450d85958eda8","type":"http response","z":"f4101a8d2b5a405e","name":"","statusCode":"","headers":{},"x":690,"y":240,"wires":[]},{"id":"6f13d59864211843","type":"function","z":"f4101a8d2b5a405e","name":"","func":"const assets = global.get(\"assets\");\n\nlet totalUsdValue = 0;\n\nassets.forEach(asset => {\n    totalUsdValue += asset.USDvalue;\n});\n\n\nmsg.payload = totalUsdValue;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["c20cf6333145d930"]]},{"id":"c20cf6333145d930","type":"change","z":"f4101a8d2b5a405e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'USDvalue': msg.payload,\t    'h': 2.45\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["db3450d85958eda8"]]},{"id":"eb2e96862eadc1e5","type":"comment","z":"f4101a8d2b5a405e","name":"Retrieve all registered asset of the tenant","info":"","x":200,"y":200,"wires":[]},{"id":"21b47c0d68084b16","type":"http in","z":"5e5946d6d4b5e713","name":"","url":"/assets","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["3db603c0a1d0d343"]]},{"id":"9939c03881372b31","type":"http response","z":"5e5946d6d4b5e713","name":"Success","statusCode":"","headers":{},"x":720,"y":300,"wires":[]},{"id":"428b2751e1a8739e","type":"inject","z":"5e5946d6d4b5e713","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["ea1cb0532cd31a45"]]},{"id":"b967dd30edac2b59","type":"debug","z":"5e5946d6d4b5e713","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"ea1cb0532cd31a45","type":"change","z":"5e5946d6d4b5e713","name":"","rules":[{"t":"set","p":"assets","pt":"global","to":"[{\"addresse\":\"1DSsgJdB2AnWaFNgSbv4MZC2m71116JafG\",\"name\":\"Bitcoin\",\"code\":\"BTC\",\"quantity\":1.2,\"USDvalue\":24301.79,\"h\":-4.42},{\"addresse\":\"3J65t1WtEk25CNmQviecrnyiWadfRhWNLy\",\"name\":\"Ethereum\",\"code\":\"ETH\",\"quantity\":4.86,\"USDvalue\":5348.45,\"h\":1.46},{\"addresse\":\"4AZD889898JAZDJBEZJkjbkjzbfdHGSD78\",\"name\":\"Binance-coin\",\"code\":\"BNB\",\"quantity\":6.4,\"USDvalue\":1305.55,\"h\":-2.49},{\"addresse\":\"5BREDGYR5443765GTH456ghzd3456UJBFC\",\"name\":\"Solana\",\"code\":\"SOL\",\"icon\":\"\",\"quantity\":28,\"USDvalue\":814.2,\"h\":3.23}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"assets","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["b967dd30edac2b59"]]},{"id":"38f7e9019b1f8af9","type":"comment","z":"5e5946d6d4b5e713","name":"Init my assets","info":"","x":150,"y":80,"wires":[]},{"id":"9f39e6476a8a8b15","type":"comment","z":"5e5946d6d4b5e713","name":"Retrieve all registred addresses of the tenant","info":"","x":250,"y":260,"wires":[]},{"id":"3db603c0a1d0d343","type":"change","z":"5e5946d6d4b5e713","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"assets","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["9939c03881372b31"]]},{"id":"83a02b3d3f7dcd01","type":"inject","z":"d46410c2bd1ebfb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["9b15a456a36955e3"]]},{"id":"cdd1911459db24bc","type":"debug","z":"d46410c2bd1ebfb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"9b15a456a36955e3","type":"change","z":"d46410c2bd1ebfb8","name":"","rules":[{"t":"set","p":"trendings","pt":"global","to":"[{\"addresse\":\"1DSsgJdB2AnWaFNgSbv4MZC2m71116JafG\",\"name\":\"Wrapped Bitcoin\",\"code\":\"WBTC\",\"USDvalue\":21298.52,\"h\":4.42},{\"addresse\":\"Wn98DSFDg4RFRH645Y6Z45vf456F334IK8\",\"name\":\"Yearn finance\",\"code\":\"YFI\",\"USDvalue\":4684.85,\"h\":2.49},{\"addresse\":\"865RGHhsx567RTY8U8IC5FjRDsERFDS455\",\"name\":\"Compound\",\"code\":\"COMP\",\"USDvalue\":31.62,\"h\":1.46}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"trendings","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["cdd1911459db24bc"]]},{"id":"a7250f658889bdeb","type":"comment","z":"d46410c2bd1ebfb8","name":"Trending list","info":"","x":130,"y":80,"wires":[]},{"id":"cae3b65318ccad4d","type":"http in","z":"d46410c2bd1ebfb8","name":"","url":"/trendings","method":"get","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["77ade6e414b11d65"]]},{"id":"6770c15ca4b23204","type":"http response","z":"d46410c2bd1ebfb8","name":"","statusCode":"","headers":{},"x":550,"y":240,"wires":[]},{"id":"34918ec1dec6df89","type":"comment","z":"d46410c2bd1ebfb8","name":"Collect all trending assets","info":"","x":150,"y":200,"wires":[]},{"id":"77ade6e414b11d65","type":"change","z":"d46410c2bd1ebfb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"trendings","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["6770c15ca4b23204"]]},{"id":"e4a5c3b87f4709d6","type":"inject","z":"83e538542e6d5150","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["d3529713aee9d072"]]},{"id":"2a606c2d0efefa86","type":"debug","z":"83e538542e6d5150","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"d3529713aee9d072","type":"change","z":"83e538542e6d5150","name":"","rules":[{"t":"set","p":"watchlist","pt":"global","to":"[{\"addresse\":\"3HTR451V6MJ7ie0922CDfg345RFdEKg765\",\"name\":\"Bitcoin Cash\",\"code\":\"BCH\",\"USDvalue\":116.84,\"h\":-8.34,\"bookmark\":true},{\"addresse\":\"QKJHG87qe3RE754Gn88YTR346DV43AF86G\",\"name\":\"Monero\",\"code\":\"XMR\",\"USDvalue\":112.82,\"h\":-9.61,\"bookmark\":true},{\"addresse\":\"1LK87564jFD3455TRfVe348dfh867JHYTJ\",\"name\":\"Aave\",\"code\":\"AAVE\",\"USDvalue\":57.51,\"h\":-5.65,\"bookmark\":true},{\"addresse\":\"FEGTdfer56435TRHtsr34543REQDVR4T54\",\"name\":\"Kusama\",\"code\":\"KSM\",\"USDvalue\":49.97,\"h\":0.29,\"bookmark\":true}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"watchlist","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":80,"wires":[["2a606c2d0efefa86"]]},{"id":"cda54e274739c10d","type":"comment","z":"83e538542e6d5150","name":"Watchlist","info":"","x":80,"y":40,"wires":[]},{"id":"8194edb7aa577714","type":"http in","z":"83e538542e6d5150","name":"","url":"/watchlist","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["b7bc9e359835cc40"]]},{"id":"0f5c072e7d4a8255","type":"http response","z":"83e538542e6d5150","name":"","statusCode":"","headers":{},"x":470,"y":200,"wires":[]},{"id":"ae5ae7fda78d4525","type":"comment","z":"83e538542e6d5150","name":"Collect Watchlist","info":"","x":100,"y":160,"wires":[]},{"id":"b7bc9e359835cc40","type":"change","z":"83e538542e6d5150","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"watchlist","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["0f5c072e7d4a8255"]]},{"id":"1d348ef6f686fd4f","type":"comment","z":"57122bd9a5ed2e7f","name":"Market","info":"","x":90,"y":60,"wires":[]},{"id":"51b8fefe632dd35a","type":"inject","z":"57122bd9a5ed2e7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["f349c9dcbf1d3b41"]]},{"id":"09d5cfef6b964a2c","type":"debug","z":"57122bd9a5ed2e7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"f349c9dcbf1d3b41","type":"change","z":"57122bd9a5ed2e7f","name":"","rules":[{"t":"set","p":"market","pt":"global","to":"[{\"addresse\":\"3HTR451V6MJ7ie0922CDfg345RFdEKg765\",\"name\":\"Bitcoin Cash\",\"code\":\"BCH\",\"USDvalue\":116.84,\"h\":-8.34,\"bookmark\":true},{\"addresse\":\"QKJHG87qe3RE754Gn88YTR346DV43AF86G\",\"name\":\"Monero\",\"code\":\"XMR\",\"USDvalue\":112.82,\"h\":-9.61,\"bookmark\":true},{\"addresse\":\"1LK87564jFD3455TRfVe348dfh867JHYTJ\",\"name\":\"Aave\",\"code\":\"AAVE\",\"USDvalue\":57.51,\"h\":-5.65,\"bookmark\":true},{\"addresse\":\"FEGTdfer56435TRHtsr34543REQDVR4T54\",\"name\":\"Kusama\",\"code\":\"KSM\",\"USDvalue\":49.97,\"h\":0.29,\"bookmark\":true},{\"addresse\":\"L3x3pdwW2RA4v6Vf997LULku662aRv4aUJ\",\"name\":\"The Sandbox\",\"code\":\"SAND\",\"USDvalue\":0.83,\"h\":-5.54,\"bookmark\":false},{\"addresse\":\"gU2WwS995Hp49wnvKEN7zq27VB9PfZ49ju\",\"name\":\"Zcash\",\"code\":\"ZEC\",\"USDvalue\":62.43,\"h\":-2.73,\"bookmark\":false},{\"addresse\":\"2W8gen7mD3BeiZWLs36pn23TE563FFsW6c\",\"name\":\"Huobi Token\",\"code\":\"HT\",\"USDvalue\":5.31,\"h\":-4.94,\"bookmark\":false},{\"addresse\":\"452n3J44t39zXH5vFaEyt3kY7WhTjUEyW6\",\"name\":\"Maker\",\"code\":\"MKR\",\"USDvalue\":715.18,\"h\":-9.1,\"bookmark\":false},{\"addresse\":\"twUdk9PzUa39f4y5M739X7PVKKtAiV758q\",\"name\":\"PAX Gold\",\"code\":\"PAXG\",\"USDvalue\":1829.96,\"h\":0.77,\"bookmark\":false},{\"addresse\":\"3T9LZByczn25mZjQ43Y38h2S5c2fgW9hWW\",\"name\":\"Dash\",\"code\":\"DASH\",\"USDvalue\":42.98,\"h\":-0.94,\"bookmark\":false}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"market","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["09d5cfef6b964a2c"]]},{"id":"9e7a5f8d0beca30e","type":"http in","z":"a663560a0c39e4a9","name":"","url":"/deposit","method":"post","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["8e4b2d12c6408470"]]},{"id":"6b07875815aa4de1","type":"http in","z":"a663560a0c39e4a9","name":"","url":"/withdraw","method":"post","upload":false,"swaggerDoc":"","x":160,"y":460,"wires":[["51311981aebf3373"]]},{"id":"5bc450de721b693b","type":"http response","z":"a663560a0c39e4a9","name":"","statusCode":"","headers":{},"x":770,"y":360,"wires":[]},{"id":"b9b66a67efa25388","type":"http response","z":"a663560a0c39e4a9","name":"","statusCode":"","headers":{},"x":770,"y":460,"wires":[]},{"id":"51311981aebf3373","type":"function","z":"a663560a0c39e4a9","name":"","func":"const body = msg.req.body;\n\nconst addresses = global.get(\"addresses\")\n\nlet transactions = flow.get(\"transactions\");\n\naddresses.forEach(address => {\n    if (address.hash === body.from){\n        address.balance -= body.amount;\n        msg.statusCode = 200;\n        msg.payload = {\n          \"from\": body.from,\n          \"amount\": body.amount,\n          \"txid\": \"TX\" + Math.floor(Math.random() * 100000),\n          \"status\": \"Success\"\n        }\n        \n        // ajouter une nouvelle transaction (retrait)\n        transactions.push({\n            \"hash\": msg.payload.txid,\n            \"quantity\": -body.amount,\n            \"label\": address.label,\n            \"symbol\": address.symbol\n        });\n        return;\n    }\n});\n\nif (msg.statusCode !== 200) {\n    msg.payload = { \"error\": \"Not Found\" };\n    msg.statusCode = 404;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["b9b66a67efa25388"]]},{"id":"5e785a88f092a589","type":"http in","z":"a663560a0c39e4a9","name":"","url":"/transactions","method":"get","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["6d3a78730615020b"]]},{"id":"cb5265ba526d803f","type":"http response","z":"a663560a0c39e4a9","name":"Success","statusCode":"200","headers":{},"x":620,"y":260,"wires":[]},{"id":"a2c480236a63fe34","type":"inject","z":"a663560a0c39e4a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["39227c382e681c45"]]},{"id":"fa9a66af83de4842","type":"debug","z":"a663560a0c39e4a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":160,"wires":[]},{"id":"39227c382e681c45","type":"change","z":"a663560a0c39e4a9","name":"","rules":[{"t":"set","p":"transactions","pt":"flow","to":"[{\"hash\":\"1DSsgJdB2AdWaFNgSbv4MZC2m71116Ja65\",\"quantity\":0.23,\"label\":\"bitcoin\",\"symbol\":\"btc\"},{\"hash\":\"1DSsgJdN8AdWaFNgSbv4MZC2m71116J9J5\",\"quantity\":0.03,\"label\":\"etherum\",\"symbol\":\"eth\"}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"transactions","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["fa9a66af83de4842"]]},{"id":"afd4f8407e1fd49e","type":"comment","z":"a663560a0c39e4a9","name":"Init example transaction","info":"","x":180,"y":120,"wires":[]},{"id":"bd948084fb0ae798","type":"comment","z":"a663560a0c39e4a9","name":"Retrieve all registred addresses of the tenant","info":"","x":250,"y":220,"wires":[]},{"id":"6d3a78730615020b","type":"function","z":"a663560a0c39e4a9","name":"","func":"msg.payload = flow.get(\"transactions\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["cb5265ba526d803f"]]},{"id":"8e4b2d12c6408470","type":"function","z":"a663560a0c39e4a9","name":"","func":"const body = msg.req.body;\n\nconst addresses = global.get(\"addresses\")\n\nlet transactions = flow.get(\"transactions\");\n\naddresses.forEach(address => {\n    if (address.hash === body.to){\n        address.balance += body.amount;\n        msg.statusCode = 200;\n        msg.payload = {\n          \"to\": body.to,\n          \"amount\": body.amount,\n          \"txid\": \"TX\" + Math.floor(Math.random() * 100000),\n          \"status\": \"Success\"\n        }\n        \n        // ajouter une nouvelle transaction\n        transactions.push({\n            \"hash\": msg.payload.txid,\n            \"quantity\": body.amount,\n            \"label\": address.label,\n            \"symbol\": address.symbol\n        });\n        return;\n    }\n});\n\nif (msg.statusCode !== 200) {\n    msg.payload = { \"error\": \"Not Found\" };\n    msg.statusCode = 404;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":360,"wires":[["5bc450de721b693b"]]},{"id":"1fe3a7dd162ae357","type":"comment","z":"a663560a0c39e4a9","name":"Add money to your wallet","info":"","x":190,"y":320,"wires":[]},{"id":"ddd83f24d7b4ed20","type":"comment","z":"a663560a0c39e4a9","name":"Withdraw money from your wallet","info":"","x":210,"y":420,"wires":[]},{"id":"e376f4af4e9066c8","type":"http in","z":"f35212fc5dc5051c","name":"","url":"/live/:symbol","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["f2f178f4e473d339"]]},{"id":"0a5b76245c7da7e1","type":"http response","z":"f35212fc5dc5051c","name":"","statusCode":"","headers":{},"x":670,"y":180,"wires":[]},{"id":"f2f178f4e473d339","type":"function","z":"f35212fc5dc5051c","name":"","func":"const symbolParam = msg.req.params.symbol;\n\nconst symbols = flow.get(\"symbols\");\n\n// recuperer symbolParam dans l'objet live\n\nconst symbol = symbols[symbolParam];\n\nif (symbol) {\n    msg.payload = symbol;\n} else {\n    msg.payload = { \"error\": \"Not Found\" };\n    msg.statusCode = 404;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["0a5b76245c7da7e1"]]},{"id":"a75968437d1f5d50","type":"inject","z":"f35212fc5dc5051c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["8712329bf56b3591"]]},{"id":"03067fa3ec2dd5cc","type":"debug","z":"f35212fc5dc5051c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"8712329bf56b3591","type":"change","z":"f35212fc5dc5051c","name":"","rules":[{"t":"set","p":"symbols","pt":"flow","to":"{\"btc\":{\"rate\":28000,\"low\":26000,\"high\":32000},\"eth\":{\"rate\":1700,\"low\":1.4,\"high\":2.5}}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"symbols","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["03067fa3ec2dd5cc"]]},{"id":"44df214f47f68028","type":"comment","z":"f35212fc5dc5051c","name":" Retrieve the live data of the given symbol","info":"","x":220,"y":140,"wires":[]}]